
.gradle/
!gradle/wrapper/gradle-wrapper.jar

.gradle/*/executionHistory/
.gradle/*/fileHashes/
.gradle/*/buildOutputCleanup/
.gradle/file-system.probe

.idea/

build/
out/


logs/
*.log

*.class

.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

.DS_Store
Thumbs.db
